include _config.pug
head
	title #{page.title} - #{site.name}
	meta( charset='utf-8')
	meta( name='description' content=page.description )
	meta( name='keywords' content=page.keys )
	meta( name='viewport' content='width.device-width, initial-scale=1, minimum-scale=1, manimum-scale=1' )
	link(rel="stylesheet", href="assets/css/controllers/default.controller.css")